:root {
  --dark-bg: #080c14;
  --normal-bg: #282c34;
}

body {
  background-color: var(--normal-bg);
  color: white;
}

input {
  border: none;
  border-radius: 4px;
}

input:focus {
  outline: 1px solid orangered;
}
